:root {
  --color-main-dark: #0D0E26ff;
  --color-main-dark-transperant: rgba(13, 14, 38, 0.75);
  --color-secodary: #727DBDff;
  --color-text: #DFDEDFff;
  /* --color-accent: #cd692eff; */
  --color-accent: #d87752ff;

}

html {
  scroll-behavior: smooth;
  background: var(--color-main-dark);
  z-index: -1;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: var(--color-text);
  font-family: 'Expletus Sans', cursive;
  font-size: 10vw;
  font-weight: 900;
  letter-spacing: -0.025rem;
  margin: 0;
}

h2 {
  color: var(--color-text);
  font-family: 'Expletus Sans', cursive;
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

h3 {
  color: var(--color-text);
  font-family: 'Expletus Sans', cursive;
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -0.015rem;
}

h4 {
  color: var(--color-text);
  font-family: 'Expletus Sans', cursive;
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: -0.015rem;
}



.weightlifing-text {
  font-size: 4vw;
  letter-spacing: 3vw;
  text-transform: uppercase;
  margin: 0;
}

.programing-text {
  /* font-size: 3vw; */
  /* font-weight: 500; */
  /* text-transform: uppercase; */
  margin: 100px 0;
  letter-spacing: 0.2vw;
}

.strength-text {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
}


.btn {
  font-weight: 400;
  border: none;
  border-radius: 125px 5px;
  /* -webkit-border-radius: 125px 10px; */
  -moz-border-radius: 125px 5px;
  background: var(--color-accent);
  padding: 15px 40px;
  margin: 10px 0;
  text-decoration: none;
  transition: transform .3s;
}

.btn:hover {
  background: transparent;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  text-decoration: none;
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
}

a,
p,
.btn {
  color: var(--color-text);
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
}


i {
  color: var(--color-text);
  font-size: 1.5rem;
}

ul,
li {
  color: var(--color-text);
  font-family: 'Hind', sans-serif;
  list-style-type: none;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5%;
}

/* navigation */
nav {
  max-width: 1200px;
  padding: 10px 2.5%;
  margin: 0 auto;
}

.menu {
  margin: 0;
}

.companyName .logo img {
  height: 50px;
  width: 50px;
}

.item:not(.social) a:hover,
.item a:hover::after {
  color: var(--color-accent);
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  font-size: 24px;
  text-align: right;
}

.mainMenu li.item {
  order: 2;
}

.socialIcon li.item {
  order: 3;
  border-top: 1px var(--color-accent) solid;
}

.mainMenu li.item,
.socialIcon li.item {
  display: none;
  text-align: center;
  padding: 10px;
}

.active .mainMenu li.item,
.active .socialIcon li.item.social {
  display: block;
}

.social i:hover,
.toggle i:hover {
  color: var(--color-accent);
}

.companyName {
  width: 10%;
}

.mainMenu {
  order: 2;
  width: 100%;
}

.socialIcon {
  order: 3;
  width: 100%;
}

.humburger {
  width: 10%;
  order: 1;
}

/* Tablet menu */
@media all and (min-width: 700px) {

  .socialIcon li.item.social {
    display: flex;
    cursor: pointer;
    border-top: 0;
  }

  .mainMenu {
    order: 3;
    width: 100%;
  }

  .socialIcon {
    order: 1;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .humburger {
    width: 10%;
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    flex-wrap: nowrap;
    background: none;
  }

  .companyName {
    width: 10%;
  }

  .companyName .logo img {
    height: 75px;
    width: 75px;
  }

  .mainMenu {
    display: flex;
    width: 80%;
    order: 1;
  }

  .mainMenu li.item {
    display: flex;
    padding: 0 3%;
    border-right: 1px solid var(--color-accent);
  }

  .mainMenu li.item a.current {
    color: var(--color-accent);
    cursor: default;
  }

  .mainMenu li.item.noLeftPadding {
    padding-left: 0;
  }

  .socialIcon {
    justify-content: right;
    order: 3;
    width: 10%;
  }

  .socialIcon li.item.social.noRightPadding {
    padding-right: 0;
  }

  .humburger {
    display: none;
  }

  .mainMenu li.item a.inactive {
    transition: transform .3s;
  }

  .mainMenu li.item a.inactive:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* nav {
   position: fixed;
    top: 0;
    left: 0;
     right:0;
  } */
}

/*******************MAIN***************************/
/* .background-video {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.2;
} */

.background-image {
  background: url(../assets/images/lp-background-main-\ dust.jpg);
  background-position: 45% top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.background-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-main-dark);
  opacity: 0.5;
}


.tittle {
  margin-top: 100px;
}

.main .text h1 {
  position: relative;
  animation-name: changeColour;
  animation-duration: 5s;
}



@keyframes changeColour {
  0% {
    color: var(--color-accent);
    left: 50%;
    opacity: 0
  }

  50% {
    color: var(--color-accent);
    left: 0%;
    opacity: 1
  }

  100% {
    color: var(--color-text);
    left: 0%;
  }
}



#myStory h2,
#coaching h2,
#gallery h2 {
  margin: 100px 0 25px;
}

.my-story {
  background-image: url(../assets/images/lp-background-main.jpg);
  background-position: 55%;
  background-repeat: no-repeat;
  position: relative;
}



.my-story .text .btn {
  margin-bottom: 50px;
}

.my-story .text {
  padding: 10px;
  background-color: rgba(13, 14, 38, 0.8);
}




/**********************COACHING********************* */
#coaching {
  position: relative;
}

.coaching {
  background-image: url(../assets/images/DSC02904-laura-purple.jpg);
  background-position: 45% top;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; */
}

.coaching .text .btn {
  margin-bottom: 50px;
}

.coaching .text {
  background-color: rgba(13, 14, 38, 0.8);
  /* rgba(13, 14, 38, 0.9); */
  padding: 0 10px;
}

.coaching .image {
  text-align: center;
}



.color {
  color: var(--color-accent);
}

.read-more-text {
  display: none;

}



/***********************GALLERY***********************/

/* The base code is from https://www.cssscript.com/demo/pure-css-vertical-image-accordion-slider/ I just adapted it in scss and put it on codepen*/

#gallery {
  /* background: linear-gradient(0deg, #d87752ff, #0D0E26ff, #0D0E26ff, #0D0E26ff); */
  padding: 300px 0 0;
  max-width: 1200px;
  margin: 0 auto;
}

#gallery h2 {
  margin-top: -200px;

}

.accordion {
  width: 100%;
  max-width: 1200px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  /*ul*/
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 25%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease;
}

.accordion ul li:nth-child(1) {
  background-image: url(../assets/images/Lift01.jpg);
}

.accordion ul li:nth-child(2) {
  background-image: url(../assets/images/Lift02.jpg);
}

.accordion ul li:nth-child(3) {
  background-image: url(../assets/images/Lift03.jpg);
}

.accordion ul li:nth-child(4) {
  background-image: url(../assets/images/Lift05.jpg);
}

.accordion ul li:nth-child(5) {
  background-image: url(../assets/images/Lift06.jpg);
}

.accordion ul li:nth-child(6) {
  background-image: url(../assets/images/Lift08.jpg);
}

.accordion ul li:nth-child(7) {
  background-image: url(../assets/images/Lift15.jpg);
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  /* vertical-align: bottom; */
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-20px);
  transition: all 400ms ease;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}

.accordion ul:hover li {
  width: 10%;
}

.accordion ul:hover li:hover {
  width: 30%;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
  opacity: 1;
  transform: translateX(0);
}

.lottie-graph {
  max-width: 150px;
  margin: 0 auto;
}


/***********X************GALLERY***********X************/


/*************X*********MAIN*************X***********/


/************************CONTACT ME************************/
#contactMe {
  background-color: var(--color-secodary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactMe .box a {
  cursor: pointer;
  transition: 0.5s;
}

#contactMe .box a:hover {
  color: var(--color-accent);
  font-size: 1.125rem;
}

#contactMe h3 {
  margin-top: 50px;
}

#contactMe a,
#contactMe p {
  font-size: 1rem;
}

.box {
  background-color: var(--color-main-dark);
  width: 100%;
}

#contact {
  border-radius: 5px;
  margin: 25px auto 0;
  width: 50%;

}


/************************FOOTER************************/

.footer {
  background-color: var(--color-main-dark);
  margin-top: -1px;
  padding: 25px 0 10px;
  position: relative;
  text-align: center;
  z-index: 0;
}

.footer p {
  color: var(--color-text);
  font-size: 0.75rem;
}

.footer-link {
  color: var(--color-text);
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.85rem;
  text-decoration: none;
  padding: 10px 0;
}

.footer-link:hover {
  color: var(--color-accent);
  font-weight: 500;
}

.footer li.item {
  cursor: pointer;
}


/***********X************FOOTER***********X************/


/**********************Scroll to top button**********************/
#scrollTopBtn {
  display: none;
  right: 10px;
  bottom: 20px;
  position: fixed;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-solid.fa-hand-point-up {
  color: var(--color-accent);
  opacity: 0.5;
  font-size: 1.125rem;
  z-index: 5;
}

.fa-solid.fa-hand-point-up:hover {
  opacity: 1;
}

/************x*********Scroll to top button************x*********/

/********************* media ******************************* */

@media all and (min-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.75rem;

  }

  h4 {
    font-size: 1.25rem;
  }


  .weightlifing-text {
    font-size: 1.5rem;
    letter-spacing: 2.1rem;
  }

  .programing-text {
    font-size: 1.125rem;

  }


}


@media all and (min-width: 960px) {
  .background-image {
    background-position: 50% top;
  }

  .my-story {
    background-position: right 90% top 25%;
  }

  .my-story .text {
    /* margin-right: 50%; */
    max-width: 500px;
    padding: 20px 0;

  }

}


@media all and (min-width: 800px) {
  #myStory {
    margin: 100px 0;
  }


  .my-story .text {
    padding: 10px;
  }



  .no-margin-text {
    margin: 0;
  }

  .coaching {
    display: flex;
  }

  .coaching .text {
    width: 40%;
  }

  .coaching .image {
    margin-top: 28px;
    padding: 0 0 20px 20px;
    width: 60%;
  }

  .coaching .image img {
    width: 75%;
  }

}

@media screen and (max-width: 700px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}